<nav>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/user">User Profile</a></li> <!-- Enlace al perfil del usuario -->
      <li><a routerLink="/foods">Alimentos</a></li> <!-- Enlace al perfil del usuario -->
      <li><a routerLink="/meals">Comidas</a></li> <!-- Enlace al perfil del usuario -->

    </ul>
    <ul class="nav-buttons">
      <li><button >Login</button></li>
      <li><button (click)="openModal()">Register</button></li>
    </ul>
</nav>




